<app-navbar></app-navbar>

<div class="d-flex justify-content-center">

    <div class="container text-center my-3" *ngIf="!userLoginOn">
        <p>Debes iniciar sesión</p>
    </div>
    <div class="my-5 d-flex align-items-center table-responsive" *ngIf="userLoginOn">

        <div class="d-flex flex-column align-items-center p-2 rounded-3" style="background: rgb(231, 232, 238);">

            <h3>
                Registro de Facturas.
            </h3>

            <img src="../../assets/Images/cart4.svg" alt="target" style="width: 100px;">


            <br>

            <div class="widhdeldiv">
                <table class="table table-bordered border-secundary table-hover align-middle">
                    <thead class="table-dark text-center">
                        <tr>
                            <th id="id">Id</th>
                            <th id="name">Usuario</th>
                            <th id="fecha">Fecha</th>
                            <th id="total">Total</th>
                            <th id="functions">Funciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let factura of facturas">
                            <td>{{factura.idFactura}}</td>
                            <td>{{factura.usuario.username}}</td>
                            <td>{{factura.fecha}}</td>
                            <td>$ {{factura.total}}</td>
                            <td class="text-center">
                                <div>
                                    <button (click)="ver_detalle(factura.idFactura)" type="button"
                                        class="btn btn-warning btn-sm me-3" data-bs-toggle="modal"
                                        data-bs-target="#modalDetail">Ver Detalle </button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <!----- Modal Editar Detalles ----->
        <div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: rgb(231, 232, 238);">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles de la factura</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Información principal de la factura -->
                        <div class="mb-4">
                            <p><strong>Número de Factura:</strong> {{facturaEdit.factura?.idFactura}}</p>
                            <p><strong>Fecha:</strong>{{facturaEdit.factura?.fecha}}</p>
                            <p><strong>Vendedor:</strong>{{facturaEdit.factura?.usuario.username}} </p>
                        </div>
                        <!-- Tabla con los detalles de los productos -->
                        <h6><strong>Detalles de Productos</strong></h6>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detalle of detalleEdit; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ detalle.producto.nombreProducto }}</td>
                                  <td>{{ detalle.cantidad }}</td>
                                  <td>$ {{ detalle.producto.precio }}</td>
                                  <td>$ {{ (detalle.producto.precio * detalle.cantidad) }}</td>
                                </tr>
                              </tbody>
                              
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-end"><strong>Total venta:</strong></td>
                                    <td><strong>${{facturaEdit.factura?.total}}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="cancel()" class="btn btn-danger" data-bs-dismiss="modal" (click)="setEdit(false)">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!----- Modal ----->

    </div>
</div>

<footer *ngIf="userLoginOn">
    <app-footer></app-footer>
</footer>