<div style="width: 100%; height: 100vh;">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img.freepik.com/foto-gratis/amable-entusiasta-joven-pelirroja-chica-ojos-azules-smartphone-gire-camara-respuesta-amplia-sonrisa_1258-134662.jpg?t=st=1713713504~exp=1713717104~hmac=933a021ce0d1260b8ed3f9485d3335fc08593740fd738b18e17a60e22622527c&w=1380"
                    class="d-block w-100 mh-100" style="height: 600px;" alt="..." />
                <div class="carousel-caption d-none d-md-block text-start">
                    <h5 class="fs-2 fw-bold text-white">Bienvenido a ProSale Manager</h5>
                    <p class="fw-bold fs-5 text-white">Control preciso, inventaro en equilibrio.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://img.freepik.com/foto-gratis/chica-tonta-confundida-parada-sombria-preocupada-frunciendo-labios-frunciendo-ceno-sosteniendo-mano-barbilla-looki_1258-134540.jpg?t=st=1713714899~exp=1713718499~hmac=1cbca7aa75cef6500d817be2dc72babeffeea420d37ec2f86cf693340cdeddfb&w=1380"
                    class="d-block w-100 mh-100" style="height: 600px;" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-2 fw-bold text-white">Facil acceso a su inventario</h5>
                    <p class="fw-bold fs-5 text-white">En todo momento</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="././././assets/Images/carrusel3.png" class="d-block w-100 mh-100" style="height: 600px;"
                    alt="..." />
                <div class="carousel-caption d-none d-md-block text-end">
                    <h5 class="fs-2 fw-bold">Buen control de usuarios</h5>
                    <p class="fw-bold fs-5">En cualquier lugar</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <br>

    <div class="d-flex container text-center flex-column">
        <div class="d-flex fs-3 fw-bold justify-content-center align-items-center">
            <p style="color: rgb(235,117,44);">Integrantes</p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 justify-content-evenly">
            <div class="col">
                <div class="card h-100 border border-bottom pt-4 rounded-3"
                    style="background: linear-gradient(180deg, rgba(235,117,44,1) 0%, rgba(255,184,0,1) 100%); box-shadow: 0px 15px 25px -1px rgba(209, 171, 33, 0.78);">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjBWV2iAa9u1b7ztdc80lNfmZLXTBOUn3bIOKnXr6m6O_TLh_d737XxKghlEZD3xL6enboVDO8cyQCOg7Q3v8-aGfMgKDI-llne5xSmi1cFZuINcb33_ddxhyphenhyphen9petPUvmTUjWrt0Vfl-qk/s1600/wp3852811.jpg"
                        class="card-img-top rounded-circle mx-auto border border-3 border-white" alt="..."
                        style="width: 200px;" />
                    <div class="card-body text-white">
                        <h5 class="card-title fs-3 fw-bold">Juan Bobadilla</h5>
                        <p class="card-text fs-5">
                            Un entusiasta por el desarrollo Front-End pero eso no evita que tenga conocimientos en
                            Back-End
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Conoceme
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">LinkedIn</button></li>
                                <li><button class="dropdown-item" type="button">GitHub</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border border-bottom pt-4 rounded-3"
                    style="background: linear-gradient(180deg, rgba(235,117,44,1) 0%, rgba(255,184,0,1) 100%); box-shadow: 0px 15px 25px -1px rgba(209, 171, 33, 0.78);">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjBWV2iAa9u1b7ztdc80lNfmZLXTBOUn3bIOKnXr6m6O_TLh_d737XxKghlEZD3xL6enboVDO8cyQCOg7Q3v8-aGfMgKDI-llne5xSmi1cFZuINcb33_ddxhyphenhyphen9petPUvmTUjWrt0Vfl-qk/s1600/wp3852811.jpg"
                        class="card-img-top rounded-circle mx-auto border border-3 border-white" alt="..."
                        style="width: 200px;" />
                    <div class="card-body text-white">
                        <h5 class="card-title fs-2 fw-bold">Julian Marin</h5>
                        <p class="card-text fs-5">
                            Otro chico mas en el mundo de la programación enamorado del Front-End pero sabiendo
                            Back-End.
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Conoceme
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">LinkedIn</button></li>
                                <li><button class="dropdown-item" type="button">GitHub</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <br>
        <hr>
        <br>
    </div>

    <div class="card mb-3 border border-white w-full container">
        <div class="row g-0 align-items-center rounded-3 text-white"
        style="background: linear-gradient(90deg, rgba(235,117,44,1) 0%, rgba(255,184,0,1) 100%); box-shadow: 0px 15px 25px -1px rgba(235,117,44,0.78);">
            <div class="col-md-4">
                <img src="https://5.imimg.com/data5/QJ/WX/MY-35555363/3d-nature-wallpaper-1000x1000.jpg"
                    class="img-fluid rounded-3" alt="..." />
            </div>
            <div class="col-md-8 p-5">
                <div class="card-body">
                    <h5 class="card-title fs-1 fw-bold">ProSale Manager</h5>
                    <p class="card-text fs-4">
                        Este software ayuda a las empresas a gestionar procesos relacionados con ventas, inventarios y
                        clientes. Facilita la automatización de tareas y proporciona datos para mejorar la toma de
                        decisiones.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <hr>
        <br>
    </div>

    <div class="card mb-3 border border-white w-full container">
        <div class="row g-0 align-items-center rounded-3 text-white"
        style="background: linear-gradient(90deg, rgba(235,117,44,1) 0%, rgba(255,184,0,1) 100%); box-shadow: 0px 15px 25px -1px rgba(235,117,44,0.78);">
            <div class="col-md-8 p-5">
                <div class="card-body">
                    <h5 class="card-title fs-1 fw-bold">Control de Inventario</h5>
                    <p class="card-text fs-4">
                        El sistema permite rastrear y gestionar inventarios. Los usuarios pueden controlar el stock,
                        registrar movimientos de productos y recibir alertas por niveles bajos de inventario, ayudando a
                        prevenir faltantes y exceso de stock.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://5.imimg.com/data5/QJ/WX/MY-35555363/3d-nature-wallpaper-1000x1000.jpg"
                    class="img-fluid rounded-3" alt="..." />
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <hr>
        <br>
    </div>



    <div class="card mb-3 border border-white w-full container">
        <div class="row g-0 align-items-center rounded-3 text-white"
            style="background: linear-gradient(90deg, rgba(235,117,44,1) 0%, rgba(255,184,0,1) 100%); box-shadow: 0px 15px 25px -1px rgba(235,117,44,0.78);">
            <div class="col-md-4">
                <img src="https://5.imimg.com/data5/QJ/WX/MY-35555363/3d-nature-wallpaper-1000x1000.jpg"
                    class="img-fluid rounded-3" alt="..." />
            </div>
            <div class="col-md-8 p-5">
                <div class="card-body">
                    <h5 class="card-title fs-1 fw-bold">Control de Usuarios</h5>
                    <p class="card-text fs-4">
                        El software ofrece herramientas para gestionar usuarios y permisos. Con roles personalizados, se
                        puede controlar quién tiene acceso a diferentes partes del sistema, garantizando seguridad y
                        protegiendo datos sensibles.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <hr>
        <br>
    </div>

    <div class="d-flex justify-content-center">
        <footer style="width: 25%;">
            <div class="d-flex justify-content-evenly"><a href="#"><i class="bi bi-instagram"></i></a><a href="#"><i
                        class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-facebook"></i></a></div>
            <ul class=" foot align-items-center ">
                <li><a href="#">Services</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="d-flex justify-content-center">ProSale Manager © 2024</p>
        </footer>
    </div>

</div>