.ng-valid:not(form).ng-touched {
  border: 5px solid green;
}

.ng-invalid:not(form).ng-touched {
  border: 5px solid red;
}

#logCube {
  margin-top: 10%;
  margin-bottom: 10%;
}

.divClass {
  width: 150px;
  background: linear-gradient(
    180deg,
    rgba(128, 127, 127, 1) 0%,
    rgba(0, 0, 0, 1) 69%
  );
}

.sombra {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.34);
}